<tr>
    <td><%= link_counter + 1 %></td>
    <td><%= link.name %></td>
    <td><%= link.url %></td>
    <td><%= content_tag(:span, '',{:class => link.evaluations.html.first.exceeded_deadline? ? 'glyphicon glyphicon-ok deadline' : 'glyphicon glyphicon-ok',  title: "Completed on #{link.evaluations.html.first.completed_at.strftime("%b %d,%Y")}"}) if link.evaluations.html.count > 0  %></td>
    <td><%= content_tag(:span, '',{:class => link.evaluations.js.first.exceeded_deadline? ? 'glyphicon glyphicon-ok deadline' : 'glyphicon glyphicon-ok',  title: "Completed on #{link.evaluations.js.first.completed_at.strftime("%b %d,%Y")}"}) if link.evaluations.js.count > 0  %></td>
    <td><%= content_tag(:span, '',{:class => link.evaluations.jquery.first.exceeded_deadline? ? 'glyphicon glyphicon-ok deadline' : 'glyphicon glyphicon-ok',  title: "Completed on #{link.evaluations.jquery.first.completed_at.strftime("%b %d,%Y")}"}) if link.evaluations.jquery.count > 0 %></td>
    <td><%= content_tag(:span, '',{:class => link.evaluations.php.first.exceeded_deadline? ? 'glyphicon glyphicon-ok deadline' : 'glyphicon glyphicon-ok',  title: "Completed on #{link.evaluations.php.first.completed_at.strftime("%b %d,%Y")}"}) if link.evaluations.php.count > 0 %></td>
    <td><%= content_tag(:span, '',{:class => link.evaluations.makewebsite.first.exceeded_deadline? ? 'glyphicon glyphicon-ok deadline' : 'glyphicon glyphicon-ok',  title: "Completed on #{link.evaluations.makewebsite.first.completed_at.strftime("%b %d,%Y")}" }) if link.evaluations.makewebsite.count > 0 %></td>
    <td><%= content_tag(:span, '',{:class => link.evaluations.ruby.first.exceeded_deadline? ? 'glyphicon glyphicon-ok deadline' : 'glyphicon glyphicon-ok',  title: "Completed on #{link.evaluations.ruby.first.completed_at.strftime("%b %d,%Y")}"}) if link.evaluations.ruby.count > 0 %></td>
    <td><%= link.evaluations.map(&:score).sum %></td>
    <td><%= link.comment %></td>
    <!--<td><%= link.extras %></td>-->
        <!--<td><%= link_to 'Show', link, :class => 'btn btn-primary' %></td>-->
        <!--<td><%= link_to 'Edit', edit_link_path(link) %></td>-->
        <!--<td><%= link_to 'Destroy', link, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
</tr>