<p id="notice"><%= notice %></p>

<div class="container">
  <h1>Listing Codecademy Courses Accounts <% link_to 'Review', review_path, :id => 'review', :class => 'btn btn-primary', remote: true %></h1>
  <% if Link.count > 0 %>
  <span>Deadline for all courses: <%= Course.first.deadline.strftime("%b %d,%Y") %> - Last review <%= time_ago_in_words(Link.last.created_at) %></span>
  <% end %>
  <table class='table table-hover table-bordered'>
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Url</th>
      <th>HTML</th>
      <th>JavaScript</th>
      <th>jQuery</th>
      <th>PHP</th>
      <th>Make an Interactive Website</th>
      <th>Ruby</th>
      <th>Score</th>
      <th>Comment</th>
      <!--<th>Extras</th>-->
      <!--<th colspan="3"></th>-->
    </tr>
  </thead>

  <tbody id="links">
    <%= render @links %>
  </tbody>
</table>
<div class="ajax-progress"></div>
</div>


<br>

<!--<%= link_to 'New Link', new_link_path %>-->
