//$('.table').fadeOut();
//$('.table tr').each(function(index) { $(this).delay(200*index).fadeOut(); })
$('.table tbody tr').fadeOut(100, function() {
            $(this).remove();
})

$("<%= escape_javascript(render @links) %>").hide().each(function(index) {
    $(this).delay(300*index).fadeIn().appendTo("#links");
});

$('#review').button('reset');
$(".ajax-progress").hide();
//$('#review').prop('disabled',false);
    
