// Place all the styles related to the Links controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.ajax-progress {
  position: fixed;
  display: none;
  width: 80px;
  height: 80px;
  top: 30%;
  left: 50%;
  background-image: url('loading.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
  // border: 1px solid green;
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

.deadline {
  color: red;
}